<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

        <title>Vue Tehtävä 2</title>
    </head>
    <body>

    <div id="app">
        <span v-if="seen">Now you see me</span><br>
        <button v-on:click="vaihda">Switch</button>
    </div>

    <script>
        const app = new Vue({
            el: '#app',
            data: {
                seen: true
            },
            methods: {
                vaihda()  {
                    console.log('hehehe');
                    if(app.seen === true){
                        app.seen = false;
                    } else {
                        app.seen = true;
                    }
                }
            }
        })
    </script>
    </body>
</html>