<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <title>Vue Tehtävä 4</title>
</head>
<body>

<div id="app">
    <input v-model="msg" placeholder="Add user here">
    <button v-on:click="add">add user</button>
    <button v-on:click="dumbDelete">Delete top user</button>
    <li v-for="(user, index) in users">
        {{user.name}}
        <button v-on:click="deleteUser(index)">Delete User</button>
    </li>
</div>

<script>
    const app = new Vue({
        el: '#app',
        data: {
            msg: '',
            users: [{name: 'aapo'}, {name: 'jussi'}]
        },
        methods: {
            add() {
                let newUser = {name: app.msg};
                app.users.push(newUser);
            },
            deleteUser(index) {
                app.users.splice(index, 1);
            },
            dumbDelete() {
                app.users.shift();
            }
        }
    })
</script>
</body>
</html>