<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <title>Vue Tehtävä 3</title>
</head>
<body>

<div id="app">
    <span>Counter: {{ count }}</span><br>
    <button v-on:click="plus">+</button>
    <button v-on:click="reset">0</button>
    <button v-on:click="minus">-</button>
</div>

<script>
    const app = new Vue({
        el: '#app',
        data: {
            count: 0
        },
        methods: {
            plus()  {
                app.count++;
            },
            reset() {
                app.count = 0;
            },
            minus() {
                app.count--;
            }
        }
    })
</script>
</body>
</html>