<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <title>Vue Tehtävä 1</title>
</head>
<body>

<div id="app">
    <h1>Input text here: {{message}}</h1>
    <p>Added text length: {{ msgLength }}</p>
    <input v-model="message" placeholder="write here">
</div>

<script>
    const app = new Vue({
        el: '#app',
        data: {
            message: ''
        },
        computed: {
            msgLength: function () {
                return this.message.length;
            }
        }
    })
</script>
</body>
</html>