body{
    text-align: center;
    font-family: arial, sans-serif;
}

h1{
    font-size: 102px;
    font-weight: lighter;
    margin-bottom: 0em;
    margin-top: 0.5em;
}

img {
    border: 2.5px solid #C6D9F1;
}

figcaption {
    font-weight: bold;
    padding-bottom: 2em;
}

.berry_div {
    width: 20%;
    margin-right: auto;
    margin-left: auto;
}

h2 {
    font-size: 32px;
    margin-top: 0.3em;
    margin-bottom: 0em;
}

p {
    font-style: italic;
}

.blueberry {
    border-top: 1px solid black;
    padding: 0.5em;
    background-color:#C6D9F1 ;
}

.cloudberry {
    border-top: 1px solid black;
    margin-top: 0em;
    padding: 0.5em;
    background-color:#FDE9D9 ;
}

.lingonberry {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 0em;
    padding: 0.5em;
    background-color: #D99594;
}

