table{
    border: 1px solid black;
    border-spacing: 0px;
    font-family:Helvetica;
}
th, td{
    padding-left: 10px;
    padding-right: 10px;
}

tr.table_header_1 {
    border-bottom: 1px solid black;
}
tr.table_header_2, tr.table_header_2 > th {
    background-color: red;
    color: white;
    font-weight: bolder;

    border-top: 1px solid black;
}

.row_heading  {
    font-weight: bold;
    border-right: 1px solid black;
}

tbody > tr:nth-child(odd){
    background-color: #F2F2F2;
}