body {
    font-family: Arial, Verdana, sans-serif;
}


p.underlined  {
    text-decoration: underline;
}
p {
    color: blue;
}

h1.alert {
    font-size: 3em;
}

.alert {
    color: red;
}

p#unique {
    font-size: 0.8em;
}
