p.copyright_notice {
    font-size: 0.8em;
}

body {
    font-family: Arial, Verdana, sans-serif;
    background-color: wheat;
}

h1, h2 {
    color: blue;
    font-weight: bold;
}

figcaption{
    font-size: smaller;
    font-weight: bold;
}

ol, ul {
    text-indent: 10%;
    border: 1px solid deeppink;
}

li {
    color: darkgrey;
}

p {
    text-indent: 10%;
}
p::first-letter {
    font-size:8em;
}

p::first-line {
    font-weight: bold;
}