html{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial;
    background-color: orange;
}

.body{
    border-radius: 25px;
    margin: 1em;
    padding: 1em;
    background-color: white;
}

fieldset {
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 1em;
}

legend {
    font-weight: bold;
}

h1 {
    text-align: center;
}

input{
    margin: 0.5em;
}
input[type="submit"] {
    font-weight : bold;
}
